
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />

    <meta name="description" content="Dịch vụ Thiết kế Website - Thiết kế web X-Tech">
    <meta name="keywords" content="Dịch vụ Thiết kế Website - Thiết kế web X-Tech">
    <meta name="facebook-domain-verification" content="1qclt4wrkj17wai32sucu8jwon0tzg" />
    <meta name="google-site-verification" content="tL3QNF52pRbSx137o_RowJcIqG7XWXsS9tGxU6JUY4U" />

    @if (IsSectionDefined("HeadMeta"))
    {
        @RenderSection("HeadMeta")
    }
    else
    {
        <meta roperty="og:image" content="http://be.x-tech.vn/uploads/images/logo-X-tech2.png">
        <meta property="og:description" content="Dịch vụ Thiết kế Website - Thiết kế web X-Tech">
        <meta property="og:title" content="@ViewData["Title"]" />
    }

    <title>@ViewData["Title"]</title>
    <link type="image/x-icon"
          href="http://be.x-tech.vn/uploads/images/logo-X-tech2.png"
          rel="shortcut icon" />
    <meta id="metasocial-social" property="og:title" content="@ViewData["Title"]" />
    <link rel="stylesheet" href="~/css/fontAwesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <link rel="stylesheet" href="~/libs/jquery/juery-ui.css" media="all" />
    <link rel="stylesheet" href="~/libs/toastr/toastr.min.css" media="all" />

    <link href="~/css/article.css" rel="stylesheet" />

    <!-- build:head2 -->
    <!-- build:head -->
</head>

<body class="homepage">
    <section class="top-header">
        <div class="container">
            <div class="flex des">
                <a href="javascripts:;"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@x-tech.vn</a>
                <!-- <a href="javascripts:;"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Thứ 2 - CN: 8.00 sáng - 7.00 chiều</a>-->
            </div>
            <div class="social">
                <div class="share-mobile">
                    Chia sẻ: <a href="javascripts:;" class="fa fa-share-alt"></a>
                </div>
                <a href="javascripts:;"><i class="fa fa-facebook"></i></a>
                <a href="javascripts:;"><i class="fa fa-twitter"></i></a>
                <a href="javascripts:;"><i class="fa fa-youtube-play"></i></a>
                <a href="javascripts:;"><i class="fa fa-linkedin"></i></a>
                <a href="javascripts:;"><i class="fa fa-instagram"></i></a>
            </div>
        </div>

    </section>
    <section id="navbar" class="topnav">
        <div class="container">
            <div class="flex flex_row">
                <h1 class="logo" title="new-ca">
                    <a href="/home"><img src="~/images/graphics/logo-X-tech3.png" alt=""></a>
                </h1>
                <div class="right_menu">
                    <a href="javascript:;" id="vibeji-ham" class="item"><span></span> <span></span> <span></span></a>
                    <div class="flex flex_right">
                        <div class="main-menu">
                            <ul class="nav">
                                <li class="menu-tab-button-Home ">
                                    <a href='/home'>Trang chủ</a>
                                </li>
                                <li class="menu-tab-button-Pricing default">
                                    <a href="javascripts:;">Bảng giá</a>
                                    <span class="sub_menu">+</span>
                                    <div class="level2">
                                        <a href="/pricing">Bảng giá thiết kế Website</a>
                                    </div>
                                </li>
                                <li class="menu-tab-button-FAQ">
                                    <a href="/faq">Dịch vụ</a>
                                </li>
                                <li class="menu-tab-button-new">
                                    <a href="/news">Tin tức</a>
                                </li>
                                <li class="menu-tab-button-aboutus">
                                    <a href="/aboutus">Về chúng tôi</a>
                                </li>
                                <li class="menu-tab-button-Contact">
                                    <a href="/contact">Liên hệ</a>
                                </li>
                                @*
                                <div class="search-btn">
                                <a href="javarscript:;" class="auto_search_button">
                                <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                                <svg class="icon-svg close">
                                <use xlink:href="images/icons/icon.svg#close"></use>
                                </svg>
                                </a>
                                <div class="search-wrap">
                                <input type="text" class="search-wrap-input" placeholder="Nhập nội dung...">
                                <button type="submit" value="">
                                <svg class="icon-svg">
                                <use xlink:href="images/icons/icon.svg#search"></use>
                                </svg>
                                </button>
                                </div>
                                </div>

                                <div class="my-login">
                                <a class="btn-default" href="#"><i class="fa fa-user"></i>&nbsp;&nbsp;Đăng nhập</a>
                                </div>
                                *@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @RenderBody()




    <div class="overlay"></div>
    <!--Footer-->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="grid grid__3">
                    <div class="col gap">
                        <a class="logo" href="javascripts:;" title="#"><img src="~/images/graphics/logo-X-tech2.png" style="width: 39px;"><strong style="color:#332F3B;"> Công ty cổ phần công nghệ và giải pháp X-Tech</strong></a>


                        <div>
                            Số chứng nhận đăng ký kinh doanh:
                            0110676792 cấp bởi sở kế hoạch và đầu tư
                            thành phố Hà Nội ngày 05/04/2024
                        </div>
                        <div class="social">
                            <a href="javascripts:;"><i class="fa fa-facebook"></i></a>
                            <a href="javascripts:;"><i class="fa fa-twitter"></i></a>
                            <a href="javascripts:;"><i class="fa fa-youtube-play"></i></a>
                            <a href="javascripts:;"><i class="fa fa-linkedin"></i></a>
                            <a href="javascripts:;"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <h3 class="title">Dịch vụ chúng tôi</h3>
                        <ul>
                            <li><a href="/pricing">Giá cả</a></li>
                            <li><a href="/faq">Dịch vụ</a></li>
                            <li><a href="/news">Tin tức</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                            <li><a href="/aboutus">Giới thiệu</a></li>
                        </ul>
                    </div>
                    <div class="col" style="display:none;">
                        <h3 class="title">Other Resources</h3>
                        <ul>
                            <li><a href="javascripts:;">About Us</a></li>
                            <li><a href="/Pricing/Index">Pricing</a></li>
                            <li><a href="javascripts:;">Privacy Policy</a></li>
                            <li><a href="javascripts:;">Services</a></li>
                            <li><a href="/Contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col contact">
                        <h3 class="title">Liên hệ</h3>
                        <p>
                            <i class="fa fa-map-marker"></i>
                            Địa chỉ trụ sở chính: Tầng 11, tòa nhà Zen Tower, số 12 đường Khuất Duy Tiến, Phường Thanh Xuân Trung, Quận Thanh Xuân, Thành phố Hà Nội, Việt Nam
                        </p>
                        @*<p>
                        <i class="fa fa-phone"></i>
                        039.938.3948
                        </p>*@
                        <p>
                            <i class="fa fa-paper-plane"></i>
                            info@x-tech.vn
                        </p>
                    </div>
                </div>
            </div>
        </div>
      
    </footer>
    <!--End Footer-->

    <div class="overlay-bg"></div>
    <!--Back to top-->
    <a href="javascript:;" id="to_top">
        <i class="fa fa-long-arrow-up"></i>
    </a>

    <!--Jquery lib-->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/swiper.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/aos.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/modules/common.js"></script>

    <script src="~/libs/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/libs/jquery-validation/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/libs/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/libs/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="~/libs/jquery/datepicker-vi.js"></script>
    <script type="text/javascript" src="~/libs/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/libs/bootstrap.daterangepicker/daterangepicker.js"></script>
    <!-- build:script -->
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>








