@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using XTECH_FRONTEND.Models.News;
@{
    var data = (List<ArticleResponse>)ViewBag.data;
}
<section class="header-main margin-banner clearfix">
    <input id="newid" value="@ViewBag.id" style="display:none;" />
    <div class="container">
        <div class="text-post">
            <h1 class="title-page">Tin tức</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
            </ol>
        </div>
    </div>
</section>
<section class="container clearfix">
    <div class="list-article grid grid__3 mb40">
        <div class="bui-top">
            @if (data != null && data.Count > 0)
            {
                <div class="slide-article">
                    <div class="swiper-container">
                        <div class="swiper-wrapper" id="grid_data_slide">
                            @foreach (var item in data)
                            {
                                <div class="swiper-slide">
                                    <div class="article-itemt full">
                                        <div class="article-thumb">
                                            <a class="thumb_img thumb_5x3" href="/tin-tuc/@item.id">
                                                <img src="@item.image_169" alt="">
                                            </a>
                                        </div>
                                        <div class="article-content">
                                            <h3 class="title_new">
                                                <a href="/tin-tuc/@item.id">@item.title</a>
                                            </h3>
                                            <div class="date">
                                                <svg class="icon-svg">
                                                    <use xlink:href="images/icons/icon.svg#date"></use>
                                                </svg>
                                                <span>@item.publish_date</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
                    <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                </div>
            }
        </div>
        <div class="red-today">
            <h2 class="lbl">Đọc gì hôm nay</h2>
            <div class="scroll-height list-small-article" id="grid_data2_new">
                @if (data != null && data.Count > 0)
                {
                    foreach (var item in data)
                    {
                        <div class="article-itemt">
                            <div class="article-thumb">
                                <a class="thumb_img thumb_5x5" href="/tin-tuc/@item.id">
                                    <img src="@item.image_169" alt="">
                                </a>
                            </div>
                            <div class="article-content">
                                <h3 class="title_new">
                                    <a href="/tin-tuc/@item.id">@item.title</a>
                                </h3>
                                <div class="date">
                                    <svg class="icon-svg">
                                        <use xlink:href="images/icons/icon.svg#date"></use>
                                    </svg>
                                    <span>@item.publish_date</span>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
            <span class="gradient-layer-bottom"></span>
        </div>

    </div>
    <div id="grid_data_New" class="list-article grid grid__3 mb40">
        <partial name="_Skeleton" />
        <partial name="_Skeleton" />
        <partial name="_Skeleton" />

    </div>
    <div id="grid_data_pagination">
    </div>
   
</section>

@section scripts {
    <script>
        $('.menu-tab-button').removeClass('active')
        $('.menu-tab-button-tin-tuc').addClass('active');
    </script>
    <script asp-append-version="true" src="~/modules/News.js"></script>

}
